.nav {
    padding: 0 40px;
    height: 80px;
    background-color: #8b080885;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links {
    position: fixed;
    left:0;
    bottom: 0;
    top: 80px;
    right: 0;
    background-color: #0b055f85;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top left);
    transition: clip-path .4s;
}
.nav_link{
    text-decoration: none;
    color: #ffffff;
}

.nav_links:target {
    clip-path: circle(150% at top left);
}
@media (min-width: 768px) {
  .nav_links {
    position: static;
    background-color: transparent;
    flex-direction: row;
    clip-path: none;
    transition: none;
  }

  .nav_icon {
    display: none;
  }

  .nav_link {
    margin: 0 1rem;
    font-size: 1rem;
  }
}

.admin-nav {
  padding: 0 2rem;
  height: 80px;
  background-color: #8b080885;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  height: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ddd;
}

.open_submenu {
  position: relative;
  z-index: 20; /* Asegura que el contenedor del submenú esté por encima del header */
}

.open_submenu button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 1px;
  border-radius: 1000px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.open_submenu button:hover {
  background-color: rgba(154, 0, 209, 0.1);
}

.open_submenu .fa-solid.fa-chevron-down {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s ease;
}

.open_submenu .submenu.show ~ .fa-solid.fa-chevron-down {
  transform: rotate(180deg);
}

.submenu {
  position: absolute;
  top: 100%;
  left: -200px;
  background-color: rgba(24, 6, 93, 0.473);
  box-shadow: 4px 4px 20px rgba(255, 254, 254, 0.1);
  border-radius: 10px;
  max-height: 0;
  width: 250px;
  transition: max-height 2s ease;
  overflow: hidden;
  z-index: 30; /* Alto z-index para que el submenú esté por encima de todo */
}

.submenu.show {
  max-height: 400px;
}

.submenu ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
}

.submenu ul li button {
  display: block;
  width: 75%;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.submenu ul li button:hover {
  background-color: rgba(154, 0, 209, 0.1);
}
.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: white;
    font-size: 1.5rem;
  }

  .nav-list {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0b055f85;
    flex-direction: column;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list.active {
    transform: translateX(0);
  }
}